<div class="card">
  <div class="card-header">Pygame Project: SpeedMath (speed_math.py)</div>

  <div class="card-body">
    <h3>Description:</h3>

    <p>
      In this exciting project called <strong>SpeedMath</strong>, I used Pygame
      to create a fast-paced math quiz game. The game shows math questions on
      the screen and challenges players to solve them before time runs out.

      <br /><br />

      I used Pygame to create the different game screens, including the
      scoreboard, ready screen, gameplay screen, result screen and winner
      screen.

      <br /><br />

      The game uses a scoring system where players gain points for correctly
      answering questions. A timer adds an extra challenge and encourages
      players to think quickly.

      <br /><br />

      Creating SpeedMath helped me learn how to combine Python, game development
      and mathematics to create an educational game that is both fun and
      challenging.
    </p>

    <h3>Diagram:</h3>

    <div class="diagram-container">
      <img
        src="{{ '/assets/images/pygame_speedmath.png' | relative_url }}"
        alt="SpeedMath Project Diagram"
      />
    </div>

    <h3>Try the Game:</h3>

    <iframe
      src="https://trinket.io/embed/pygame/1e07139cae5a"
      width="100%"
      height="356"
      frameborder="0"
      marginwidth="0"
      marginheight="0"
      allowfullscreen
    >
    </iframe>
  </div>
</div>
