<div class="card">
  <div class="card-header">
    Number Guessing Game (my_number_guessing_game.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I built a guessing game using a while loop that keeps asking for a guess until the answer is right. The game tells me if my guess is too high or too low. This is important because while loops let me repeat actions until a condition is met, which is perfect for games.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_numberguess.png' | relative_url }}" alt="Diagram for Number Guessing Game">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/9c96ee924049" scrolling="no" allowfullscreen></iframe>
  </div>
</div>