<div class="card">
  <div class="card-header">Fruit Stand Inventory Management System</div>

  <div class="card-body">
    <h3>Description:</h3>

    <p>
      I took charge of managing a fruit stand where the daily supply of apples
      follows an Arithmetic Progression. I wrote a Python program to calculate
      how many apples were in stock on day 18 and the total number of apples in
      stock after 18 days.
    </p>

    <h3>What the program does:</h3>

    <p>
      The program starts with 40 apples on the first day and increases the stock
      by 6 apples every day. A for loop is used to calculate the daily stock and
      the total number of apples over 18 days.
    </p>

    <h3>Diagram:</h3>

    <div class="diagram-container">
      <img
        src="{{ '/assets/images/python_fruitstand.png' | relative_url }}"
        alt="Diagram for Fruit Stand Inventory Management System"
      />
    </div>

    <h3>Try the Code:</h3>

    <script src="//onlinegdb.com/embed/js/VoGUTe6Jp?theme=dark"></script>
  </div>
</div>
