<!-- portfolio/_includes/project_for_loops_library_inventory.html -->
<div class="card">
  <div class="card-header">
    Armstrong Checker (armstrong_checker.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      I have implemented a Python script named armstrong_no_checker to check if a given number is an Armstrong number. An Armstrong number for a 3-digit number is a number that is equals to the sum of the cubes of its digits. For example, 153 is an Armstrong number because 1^3 + 5^3 + 3^3 = 153.
      This project demonstrates the use of functions, loops, and conditionals in Python to solve mathematical problems.
      The script prompts the user to enter a number and checks if it is an Armstrong number
      by calculating the sum of the cubes of its digits and comparing it to the original number.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_armstrongchecker.png' | relative_url }}" alt="Diagram for Armstrong Checker">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/2ab29e4f885b" scrolling="no" allowfullscreen></iframe>
  </div>
</div>