<div class="card mb-4">
    <div class="card-header">
        Toy Store Inventory (toy_store.py)
    </div>
    <div class="card-body">
        <h3>Description:</h3>
        <p>
            This project calculates the inventory of a toy store over 12 days. Starting with 25 toys, the stock increases by 3 each day. The code computes both the number of toys in stock on day 12 and the total toys accumulated over the 12 days. This demonstrates the use of variables, loops, and arithmetic operations to track and summarize inventory changes.
        </p>
        <h3>Diagram:</h3>
        <div class="diagram-container">
            <img src="{{ '/assets/images/python_toystore.png' | relative_url }}" alt="python_toystore.png">
        </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/57b842419103" scrolling="no" allowfullscreen></iframe>
  </div>
</div>