<!-- portfolio/_includes/project_for_loops_factory_tracker.html -->
<div class="card mb-4">
  <div class="card-header">
    Calculator Factory Production Tracker (factory_tracker.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I tracked the production rate of a calculator factory that follows an arithmetic progression. I calculated the number of calculators produced on day 30 and the total after 30 days. This shows how loops can handle repeated calculations for real-world scenarios.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/factory_tracker.png' | relative_url }}" alt="factory_tracker.png">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/d66e16a00381" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  </div>
</div>