<div class="card">
  <div class="card-header">
    Who Is Older?
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project compares the ages of two users and determines who is older. It utilizes basic input/output operations and conditional statements to implement the age comparison logic. The program guides the user through a series of prompts that systematically gather the necessary information, such as names and ages, to perform the comparison. The result is a simple yet effective demonstration of how programming can be used to solve everyday problems.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_whoisolder.png' | relative_url }}" alt="Diagram for Who Is Older?">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/8a42e76a92d0" scrolling="no" allowfullscreen></iframe>
  </div>
</div>