<div class="card">
  <div class="card-header">
    Count Vowels and Consonants in a String (count_vowels_consonants.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I used a for loop to count the number of vowels and consonants in a given string. The loop iterates through each character in the string, checking if it is a vowel or consonant, and updates the counts accordingly.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/count_vowel_consonants.png' | relative_url }}" alt="Diagram for Count Vowels and Consonants">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/e5f2d840f351" scrolling="no" allowfullscreen></iframe>
  </div>
</div>