<div class="card">
  <div class="card-header">
    Temperature Converter (temperature_converter.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      I have built a Python program that converts temperature in fahrenheit to temperature in degree celsius using a defined formula.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/temperature_converter.png' | relative_url }}" alt="Diagram for Temperature Converter">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/8793341a0ec4" scrolling="no" allowfullscreen></iframe>
  </div>
</div>