<div class="card mb-4">
    <div class="card-header">
        Price Difference Calculator (price_difference.py)
    </div>
    <div class="card-body">
        <h3>Description:</h3>
        <p>
            This project calculates the price difference between two products. It demonstrates the use of variables and basic arithmetic operations to find the difference in price, a common task in programming. The program prompts the user to input the prices of two products and then calculates and displays the difference. This project is a practical example of how programming can be used to solve everyday problems related to budgeting and financial decisions.
        </p>
        <h3>Diagram:</h3>
        <div class="diagram-container">
            <img src="{{ '/assets/images/python_pricedifference.png' | relative_url }}" alt="python_pricedifference.png">
        </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/40f9ec700345" scrolling="no" allowfullscreen></iframe>
  </div>
</div>