<div class="card">
  <div class="card-header">
    Sum of My Even Numbers (sum_of_my_even_numbers.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      I have created a Python script named sum_of_my_even_numbers.py. It prompts
      me for a positive integer, and using a while loop, it calculates and
      displays the sum of all even numbers from 2 to the entered integer.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img
        src="{{ '/assets/images/evensum.png' | relative_url }}"
        alt="Diagram for sum of even numbers"
      />
    </div>
    <h3>Try the Code:</h3>

    <script src="//onlinegdb.com/embed/js/qAHS2bMB7?theme=dark"></script>
  </div>
</div>
