<div class="card">
  <div class="card-header">
    ATM Simulation (atm_simulation.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project simulates a simplified Automated Teller Machine (ATM) with functionalities like checking balance, depositing, and withdrawing money. It highlights conditional logic, user input handling, and managing a virtual account balance.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_atmsimulation.png' | relative_url }}" alt="Diagram for ATM Simulation">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python/7ed08174253d" scrolling="no" allowfullscreen></iframe>
  </div>
</div>