<!-- portfolio/_includes/project_math_leap_year.html -->
<div class="card">
  <div class="card-header">
    Project 2: Leap Year Checker (leap_year.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This program checks if a given year is a leap year by using if-else statements to handle divisibility by 4, 100, and 400. It demonstrates how to make decisions in code based on multiple conditions.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/leap_year.png' | relative_url }}" alt="leap_year.png">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/5e2bc9e4808e" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  </div>
</div>