<div class="card">
  <div class="card-header">
    Movie Theatre Ticketing System (movie_ticketing.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      I designed a simple movie theatre ticketing system that uses if-else statements to determine the ticket price based on the age of the customer. If the customer is under 18, they get the child ticket price, else they get the adult ticket price.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/movie_ticketing_system.png' | relative_url }}" alt="Diagram for Movie Theatre Ticketing System">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/c88df1418724" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  </div>
</div>