<div class="card">
  <div class="card-header">
    Blooming Flowers (garden_progression.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I helped manage a garden by using a for loop to calculate the number of blooming flowers on day 25 and the total after 25 days. This shows how repeating a calculation can predict growth over time.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_gardenprogression.png' | relative_url }}" alt="Diagram for Blooming Flowers">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/6c47208fd225" scrolling="no" allowfullscreen></iframe>
  </div>
</div>