<div class="card">
  <div class="card-header">
    Sentence Reverser (sentence_reverser.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project takes a sentence as input and reverses the order of the words, demonstrating string manipulation and basic list operations in Python. It's a simple yet effective way to understand how to break down and rebuild text data.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_sentencereverser.png' | relative_url }}" alt="Diagram for Sentence Reverser">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/5b0d9fa660e7" scrolling="no" allowfullscreen></iframe>
  </div>
</div>