<div class="card">
  <div class="card-header">
    Digital Root Calculator (digital_root.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project calculates the digital root of a number using a neat formula. It shows how math can simplify big numbers into one digit and reveal hidden patterns!
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_digitalroot.png' | relative_url }}" alt="Diagram for Digital Root Calculator">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/d7efa5efad41" scrolling="no" allowfullscreen></iframe>
  </div>
</div>