<div class="card">
  <div class="card-header">Invoice Number Validator (invoice.py)</div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I created a program that verifies invoice numbers entered
      by the user. I used a while loop to repeatedly prompt the user until the
      input meets the required format. The program checks two conditions: the
      invoice number must begin with “INV” and must be exactly eight characters
      long. If the input is invalid, the program displays an error message and
      asks again. Through this task, I learned how to validate user input, use
      string functions like startswith(), and apply logical conditions within
      loops to control program flow..
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img
        src="{{ '/assets/images/invoice.png' | relative_url }}"
        alt="Diagram for Invoice Number Validator"
      />
    </div>
    <h3>Trinket:</h3>
    <iframe
      src="https://trinket.io/python/a26bc4e55661"
      scrolling="no"
      allowfullscreen
    ></iframe>
  </div>
</div>
