<div class="card">
  <div class="card-header">Stop Wath (stop_watch.py)</div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I created a simple program that lets the user start a
      stopwatch that counts up from 0 until they press a key to stop.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img
        src="{{ '/assets/images/stop_watch.png' | relative_url }}"
        alt="Diagram for Stop Watch"
      />
    </div>
    <h3>Trinket:</h3>
    <iframe
      src="https://trinket.io/embed/python/f567e2d7177f"
      scrolling="no"
      allowfullscreen
    ></iframe>
  </div>
</div>
