<div class="card">
  <div class="card-header">
    Multiplication Table Generator (multiiplication_table_generator.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      I have created a Python program named my_multiplication_table.py that takes an integer input from me. It generates the multiplication table of the entered number using a while loop.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/multiiplication_table_generator.png' | relative_url }}" alt="My Multiplication Table Generator">
    </div>
    <h3>Trinket:</h3>
        <iframe src="https://trinket.io/embed/python/1ebf80387f1b?start=result" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>  </div>
</div>