<div class="card">
  <div class="card-header">
    Divisibility Tester (divisibility_tester.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      I have built a Python module named **divisibility_tester.py** to check if a user-input number is divisible by both 3 and 5 using floor division and modulo.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/divisibility_tester.png' | relative_url }}" alt="Diagram for Divisibility Tester">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/e88b085f2378" scrolling="no" allowfullscreen></iframe>
  </div>
</div>