<!-- portfolio/_includes/project_math_division.html -->
<div class="card mb-4">
  <div class="card-header">
    Simple Division (simple_division.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project shows how to calculate the remainder when one number is divided by another. It’s a great way to practice using arithmetic and the modulo operator (%).
    </p>

    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/simple_division.png' | relative_url }}" alt="simple_division.png">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/4cff77f9cef6" scrolling="no" allowfullscreen></iframe>
  </div>
</div>