<div class="card">
  <div class="card-header">
    Currency Breakdown (currency_breakdown.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I learned to use division and remainders to split a dollar into different bills. I figured out how many twenties, tens, fives, and ones make up the total. This is important because it shows how math helps us handle money and make change easily.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_currencybreakdown.png' | relative_url }}" alt="Diagram for Currency Breakdown">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/c5a82bdef60a" scrolling="no" allowfullscreen></iframe>
  </div>
</div>