<!-- portfolio/_includes/python_evenoddchecker.html -->

<div class="card mb-4">
  <div class="card-header">Even/Odd Identifier (even_odd_identifier.py)</div>

  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I designed a program that determines whether a user-input
      integer is even or odd. The program uses the modulo operator (%) and an
      if-else statement to check whether the number is divisible by 2.
    </p>

    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img
        src="{{ '/assets/images/python_evenoddchecker.png' | relative_url }}"
        alt="Even/Odd Identifier Diagram"
      />
    </div>

    <h3>Python Code:</h3>
    <script src="//onlinegdb.com/embed/js/FtWxloxvHa?theme=dark"></script>
  </div>
</div>
