<div class="card">
  <div class="card-header">
    Even/Odd Checker (even_odd_checker.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I designed a program that checks if a number is even or odd using if-else statements. This project teaches me how to make decisions in code based on conditions.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_evenoddchecker.png' | relative_url }}" alt="Diagram for Even/Odd Checker">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/541c60f0c6f1" scrolling="no" allowfullscreen></iframe>
  </div>
</div>