
<div class="card">
  <div class="card-header">
    Fruit Stand Inventory (fruit_stand.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I pretended to run a fruit stand and used a for loop to add a set number of fruit each day for 18 days. This is important because for loops help us repeat a task without writing the same code many times.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_fruitstand.png' | relative_url }}" alt="Diagram for Fruit Stand Inventory">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/7ee754a30d4f" scrolling="no" allowfullscreen></iframe>
  </div>
</div>