<div class="card">
  <div class="card-header">
    Password Security Checker (my_password_checker.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I created a program that keeps asking for a password until the correct one is entered using a while loop. This project shows how while loops can ensure that an action is repeated until the right condition is reached.
    </p>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/eca8f3bfc735" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  </div>
</div>