<!-- portfolio/_includes/python_fibonacci.html -->
<div class="card mb-4">
    <div class="card-header">
        Fibonacci Sequence Generator (fibonacci_generator.py)
    </div>
    <div class="card-body">
        <h3>Description:</h3>
        <p>
            This project generates the Fibonacci sequence up to a specified number of terms. It demonstrates the use of loops and variables to calculate each term based on the sum of the two preceding numbers, a classic example in programming.
        </p>
        <h3>Diagram:</h3>
        <div class="diagram-container">
            <img src="{{ '/assets/images/python_fibonacci.png' | relative_url }}" alt="python_fibonacci.png">
        </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/88aea1747480" scrolling="no" allowfullscreen></iframe>
  </div>
</div>