<!-- portfolio/_includes/project_if_else_login_system.html -->
<div class="card">
  <div class="card-header">
    Simple Login System (login_system.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project is a simple login system that checks if the entered username and password match preset values. If they do, the user is logged in; otherwise, they must try again. It demonstrates how if-else statements handle multiple outcomes based on user input.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/login_system.png' | relative_url }}" alt="login_system.png">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/ba5f1563a936" scrolling="no" allowfullscreen></iframe>
  </div>
</div>