<div class="card">
  <div class="card-header">
    Shopping Cart (shopping_cart.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project simulates a basic shopping cart experience, allowing users to add items, view their cart, and calculate the total. It demonstrates the use of data structures (like dictionaries or lists) to manage inventory and user selections, along with fundamental arithmetic operations.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_shoppingcart.png' | relative_url }}" alt="Diagram for Shopping Cart">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/d506692f1f9a" scrolling="no" allowfullscreen></iframe>
  </div>
</div>