<div class="card">
  <div class="card-header">
    Time Breakdown (time_breakdown.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I used math to change a huge number of minutes into days, hours, and minutes. I used division and remainders to see how many full days there were and what was left over. This is important because it shows how math can help us understand time by breaking it down into parts we can read.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_timebreakdown.png' | relative_url }}" alt="Diagram for Time Breakdown">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/a96474ca3c75" scrolling="no" allowfullscreen></iframe>
  </div>
</div>