<!-- portfolio/_includes/project_while_palindrome_checker.html -->
<div class="card mb-4">
  <div class="card-header">
    Palindrome Checker (my_palindrome_checker.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I used a while loop to reverse a word and check if it is a palindrome. The loop goes through every letter until the word is reversed. This is important because while loops let me repeat actions until they’re done, which is useful for checking words.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/palindrome_checker.png' | relative_url }}" alt="Diagram for Palindrome Checker">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/3e78ba93022e" scrolling="no" allowfullscreen></iframe>
  </div>
</div>