<div class="card">
  <div class="card-header">
    Movie Theater Attendance (movie_theater_attendance.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I used a for loop to count how many people went to the movies each day for 12 days. I started with a base number and added more every day. This is important because for loops let us do the same calculation over and over quickly.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_movieattendance.png' | relative_url }}" alt="Diagram for Movie Theater Attendance">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/464d7cc64209" scrolling="no" allowfullscreen></iframe>
  </div>
</div>