<div class="card">
  <div class="card-header">
    Rolling Dice (rolling_dice.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project simulates the rolling of dice using random number generation. It demonstrates the use of loops and conditionals to create a simple game where users can roll dice and see the results. The program provides a fun way to explore concepts like randomness and probability in programming.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_rollingdice.png' | relative_url }}" alt="Diagram for Rolling Dice">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/00d2db2898d0" scrolling="no" allowfullscreen></iframe>
  </div>
</div>