<div class="card">
  <div class="card-header">Pascal Triangle (pascal_triangle.py)</div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I created a program that uses nested loops concept to
      build a classic math triangle known where each number is the sum of the
      two numbers above it.
    </p>

    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img
        src="{{ '/assets/images/pascal_triangle.png' | relative_url }}"
        alt="Diagram for Pascal Triangle"
      />
    </div>
    <h3>Trinket:</h3>
    <iframe
      scrolling="no"
      src="https://trinket.io/embed/python/3b367c36b698"
      allowfullscreen
    ></iframe>
  </div>
</div>
