<div class="card">
  <div class="card-header">
    Simple Temperature Classification System (temperature_classification.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      I designed a weather application. I developed a Python program that takes in the user's input for the current temperature in Celsius and classifies it into different categories: "Freezing," "Cold," "Moderate," and "Hot."
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/temperature_classification.png' | relative_url }}" alt="Diagram for Simple Temperature Classification System">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/ce0dad166a16" scrolling="no" allowfullscreen></iframe>
  </div>
</div>