<!-- portfolio/_includes/python_flowergarden.html -->

<div class="card mb-4">
  <div class="card-header">Flower Garden Management System</div>

  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project uses an arithmetic progression to track the number of
      blooming flowers in a garden. The garden starts with 20 blooming flowers
      on day 1, and the number increases by 4 flowers each day. A for loop is
      used to calculate the number of flowers on day 25 and the total number of
      blooming flowers over 25 days.
    </p>

    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img
        src="{{ '/assets/images/flower_garden.png' | relative_url }}"
        alt="Flower Garden Management System Flowchart"
      />
    </div>

    <h3>Python Code:</h3>
    <script src="//onlinegdb.com/embed/js/tZnpO9QiI?theme=dark"></script>
  </div>
</div>
