<div class="card">
  <div class="card-header">
    Password Strength Checker (password_strength.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project assesses the strength of a user-provided password based on criteria like length, presence of uppercase/lowercase letters, numbers, and symbols. It's a practical application of string methods and conditional statements to implement security principles.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_passwordstrength.png' | relative_url }}" alt="Diagram for Password Strength Checker">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python/08151c471e66" scrolling="no" allowfullscreen></iframe>
  </div>
</div>