<div class="card">
  <div class="card-header">
    Initials Generator (initials_generator.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project extracts the initials from a given full name, showcasing string splitting, iteration, and character manipulation. It's a practical example of processing user input to extract specific information.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_initialsgenerator.png' | relative_url }}" alt="Diagram for Initials Generator">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/3d3bab5e5902" scrolling="no" allowfullscreen></iframe>
  </div>
</div>