<div class="card">
  <div class="card-header">
    Cube Number Puzzle Challenge (cube_number_checker.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I wrote a program that checks if a number is a perfect cube by calculating its cube root and comparing it to the original number using if-else statements. This shows how decisions in code help solve math puzzles.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_cubepuzzle.png' | relative_url }}" alt="Diagram for Cube Number Puzzle Challenge">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/ade2f44d8cc3" scrolling="no" allowfullscreen></iframe>
  </div>
</div>