<div class="card">
  <div class="card-header">
    Remainder Calculator (remainder_checker.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I learned how to take two numbers as input and use the modulo operator (%) to find the remainder when the first number is divided by the second. This helps us see how numbers can be broken into parts, which is useful in many math puzzles.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_remainder.png' | relative_url }}" alt="Diagram for Remainder Calculator">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/4cff77f9cef6" scrolling="no" allowfullscreen></iframe>
  </div>
</div>