<!-- portfolio/_includes/python_calculatorfactory.html -->

<div class="card mb-4">
  <div class="card-header">Calculator Factory Production Tracker</div>

  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This project uses an arithmetic progression to track the production of
      calculators in a factory. The factory produces 50 calculators on the first
      day, and production increases by 3 calculators each day. A for loop is
      used to calculate the number of calculators produced on day 30 and the
      total number of calculators produced over 30 days.
    </p>

    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img
        src="{{ '/assets/images/calculator_factory.png' | relative_url }}"
        alt="Calculator Factory Production Tracker Flowchart"
      />
    </div>

    <h3>Python Code:</h3>
    <script src="//onlinegdb.com/embed/js/PmU7-mZlS?theme=dark"></script>
  </div>
</div>
