<div class="card">
  <div class="card-header">
    Even Checker (even_checker.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I wrote a program that asks for a number and checks if it is even by using the modulo operator to test divisibility by 2. This project taught me how to make decisions in code based on simple math tests.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_evenchecker.png' | relative_url }}" alt="Diagram for Even Checker">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/d7efa5efad41" scrolling="no" allowfullscreen></iframe>
  </div>
</div>