<div class="card">
  <div class="card-header">Word Matrix Diagonal (word_matrix.py)</div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I learned how to create a program that takes in a user
      input for a choice of word and prints the word diagonally in a square
      matrix using a nested for loop concept.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img
        src="{{ '/assets/images/python_wordmatrix.png' | relative_url }}"
        alt="Diagram for Word Matrix"
      />
    </div>
    <h3>Trinket:</h3>
    <iframe
      src="https://trinket.io/embed/python/6c7c0ca43489"
      scrolling="no"
      allowfullscreen
    ></iframe>
  </div>
</div>
