<!-- portfolio/_includes/project_if_else_prime_guesser.html -->
<div class="card mb-4">
  <div class="card-header">
    Prime Number Guesser Game (prime_number_game.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      This game challenges you to decide if a number is prime by using if-else statements. It’s a fun way to reinforce the concept of prime numbers and divisibility in code.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/prime_number_game.png' | relative_url }}" alt="prime_number_game.png">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/807e27b65c54" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  </div>
</div>