<div class="card">
  <div class="card-header">
    Weight Units Converter (weight_units_converter.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I learned how to convert weight from pounds to kilograms by multiplying by a conversion factor. This is important because it teaches us how to change one unit of measurement to another so we can compare different types of data.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_weightconverter.png' | relative_url }}" alt="Diagram for Weight Units Converter">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/dc162086f26d" scrolling="no" allowfullscreen></iframe>
  </div>
</div>