<div class="card">
  <div class="card-header">
    Store Inventory Management System (inventory_progression.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I managed a store's inventory that increased daily using a for loop. I calculated the number of units on day 15 and the total after 15 days. This is important because it shows how for loops help us perform repetitive tasks easily.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_storeinventory.png' | relative_url }}" alt="Diagram for Store Inventory Management System">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/d56aae77b696" scrolling="no" allowfullscreen></iframe>
  </div>
</div>