<div class="card">
  <div class="card-header">
    Anagram Checker (anagram_checker.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In a word game, players needed to determine whether two words were anagrams or not. I created a Python program named anagram_checker.py that takes in two user inputs for words and checked if the provided words were anagrams. An anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/anagram_checker.png' | relative_url }}" alt="Diagram for Anagram Checker">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/30ba65caa13f" scrolling="no" allowfullscreen></iframe>
  </div>
</div>