<!-- portfolio/_includes/project_for_loops_library_inventory.html -->
<div class="card">
  <div class="card-header">
    Library Inventory (inventory_progression.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I managed an imaginary library's inventory using a for loop to calculate the number of books on day 20 and the total after 20 days. This project shows how for loops make it easy to perform repetitive tasks.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/library_inventory.png' | relative_url }}" alt="Diagram for Library Inventory">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/d56aae77b696" scrolling="no" allowfullscreen></iframe>
  </div>
</div>