<div class="card">
  <div class="card-header">
    Factorial Calculation(factorial_calculator.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      I organized a math competition among my friends, and one of the challenges involved calculating the factorial of a given number. I created a Python script that took a user input and calculated the factorial of the given number.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/factorial.png' | relative_url }}" alt="Diagram for Factorial Calculation">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/6a03db872fa6" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  </div>
</div>