<div class="card">
  <div class="card-header">
    Number Pyramid (number_pyramid.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I created a number pyramid using nested for loops. The outer loop controls the number of rows, while the inner loop prints the numbers in each row. This project demonstrates how to use loops to create patterns and shapes in Python.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/number_pyramid.png' | relative_url }}" alt="Diagram for Number Pyramid">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/8c35af5d52df" scrolling="no" allowfullscreen></iframe>
  </div>
</div>