<div class="card">
  <div class="card-header">
    Coffee Shop Inventory (coffee_shop_inventory.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I pretended to run a coffee shop and used a for loop to add a set number of coffee beans each day for 7 days. This is important because for loops help us repeat a task without writing the same code many times.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_coffeeshop.png' | relative_url }}" alt="Diagram for Coffee Shop Inventory">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/c8f5acff1e5a" scrolling="no" allowfullscreen></iframe>
  </div>
</div>