<div class="card">
  <div class="card-header">
    Right Triangle Checker (right_triangle_checker.py)
  </div>
  <div class="card-body">
    <h3>Description:</h3>
    <p>
      In this project, I used if-else statements to check if a triangle is right-angled. I asked for three sides, sorted them, and used the Pythagorean theorem to decide if the triangle was right. This is important because if-else lets the program choose different actions based on the input.
    </p>
    <h3>Diagram:</h3>
    <div class="diagram-container">
      <img src="{{ '/assets/images/python_righttriangle.png' | relative_url }}" alt="Diagram for Right Triangle Checker">
    </div>
    <h3>Trinket:</h3>
    <iframe src="https://trinket.io/embed/python3/42b174fae46d" scrolling="no" allowfullscreen></iframe>
  </div>
</div>