<div class="card mb-4">
  <div class="card-header">
    Modular Project 1: LEGO Robotics Catapult
  </div>
  <div class="card-body">
    <div class="robotics-row">
      <div class="robotics-col">
        <h4>LEGO Robotics Catapult</h4>
        <p>
          I learnt how to use LEGO Technic parts to create different designs. Using the coding concept of conditionals (if-else) together with various sensors, I coded my designs to do certain actions only if a specific condition is met. One of my favorite builds was a catapult that launches if the touch sensor is activated!
        </p>
      </div>
      <div class="robotics-col">
        <img class="robotics-img" src="{{ '/assets/images/robotics.png' | relative_url }}" alt="robotics.png">
      </div>
    </div>
  </div>
</div>