<div class="card">
  <div class="card-header">Scratch Project</div>

  <div class="card-body">
    <h3>Description:</h3>
    <p>
      I created this project when I was bored at home and decided to try making
      something on Scratch. I heard about Scratch when my friends talked about
      it in school. They way they talked about it made it seem very exciting, so
      I tried making an animation. It turned out to be extremely fun, and I
      loved making this animation!
    </p>

    <h3>Scratch Project:</h3>

    <iframe
      src="https://scratch.mit.edu/projects/1317911625/embed"
      allowtransparency="true"
      width="485"
      height="402"
      frameborder="0"
      scrolling="no"
      allowfullscreen
    ></iframe>
  </div>
</div>
