<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  </head>
  <body>

    <!-- Loader overlay -->
    <div id="loader-overlay">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div class="container py-5">
      {{ content }}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var accordionCollapseElements = document.querySelectorAll('.accordion-collapse');
        accordionCollapseElements.forEach(function(collapseEl) {
          collapseEl.addEventListener('shown.bs.collapse', function() {
            var header = this.previousElementSibling;
            if (header) {
              header.scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
          });
        });
      });
      // hide the loader when all content is loaded
      window.addEventListener("load", function() {
        const loader = document.getElementById('loader-overlay');
        if (loader) {
          loader.style.opacity = '0';
          loader.style.transition = 'opacity 0.3s ease';
          setTimeout(() => {
            loader.style.display = 'none';
          }, 300);
        }
      });
    </script>
  </body>
</html>